<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../css/my-modal.css">
    <link rel="stylesheet" href="../css/Exception.css">
    <link rel="stylesheet" href="../css/index.css">
    
    <script>
      const connectedUser = JSON.parse('<%- user %>');
    </script>
    <title><%- title %></title>
  </head>
  <body>
    <%- body %>
  </body>
</html>
